.App {
  text-align: center;
  height: 1200px;
  background-color: #DCDCDC;
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(staticfiles/Preloader_2.gif) center no-repeat #fff;
}

.partnerlogin {
  background-color: #DCDCDC;
}

.content {
  position: center;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;

}

.upload-btn-wrappers {
  position: relative;
  overflow: hidden;
  display: inline-block;
  height: 100px;
  margin-top: 30px;
}

.btn {
  border: 4px solid gray;
  color: black;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 40px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 30px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.upload-btn-wrappers input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}